.App{
  display: flex;
  font-family: 'IBM Plex Sana Thai Looped', sans-serif;
  color: white;
  background: linear-gradient(179deg, #176eb5, #d545d7);
  text-shadow: 1px 0px 2px #8dc4f0;
}
.body-container{
  flex: 1;
}
.sidebar-container{
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sidebar{
  display: flex;
  width: 14rem;
  height: 90%;
  justify-content: start;
  align-items: flex-start;
  flex-direction:column;
  padding: 15px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37 );
  backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18 );
}
.menu-icon{
  display: flex;
  align-self: flex-end;
  border-radius: 5px;
  border: 5px ;
}
.profile{
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}
.profile> img{
  width: 100%;
  border-radius: 10%;
  margin-top: 30%;
}
.groups{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 15px;
}
.group{
  display: flex;
  flex-direction: column;
  width: 100%;
}
h3{
  font-size: 1rem;
  margin: 10px 0px 10px 0px
}